{% extends 'base.html' %}

{% block contect %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1>Actualizar Tarea</h1>
            <form  method="POST">
                {% csrf_token %}
                {{form}}
                <button class="btn btn-primary">
                    Actualizar
                </button>
            </form>
            <div class="d-flex mt-5">
                <form action="{% url 'completar_tarea' tarea.id %}"  method="POST">
                    {% csrf_token %}
                    <button class="btn btn-secondary">
                        Completar
                    </button>
                </form>
    
                <form action="{% url 'eliminar_tarea' tarea.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger">
                        Eliminar
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}