{% extends 'base.html' %}


{% block contect %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">App Django</h1>
        <p>Aplicacion de Tareas pendientes, que se podran editar,completar,opcion a ser importante o no,con fecha
            de creado por default, fecha de completado, y se podra eliminar en caso de requerirlo.
            Una app basica pero muy util para organizacion.
        </p>
            <div class="text-center">
                <a href="/registro/" class="btn btn-secondary">Registro</a>
                <a href="/ingresar/" class="btn btn-dark">Ingresar</a>
            </div>
    </section>
</main>





{% endblock %}